.product_count {
  display: flex;
}

button.button.primary-btn {
  display: inline-block;
  border: 1px solid #384aeb;
  border-radius: 30px;
  color: #222;
  font-weight: 500;
  padding: 12px 50px;
  background: #384aeb;
  color: #fff;
  transition: all .4s ease;

  margin-right: 94px;
  margin-top: -10px;
}